h1,
h2 {
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px;
    margin: 40px;
}

#cards section {
    padding-bottom: 1rem;
    background-color: #ddd;
    border: 1px solid #bbb;
}

#cards img {
    display: block;
    margin: auto;
}

footer{
    text-align: center;
    margin: 40px;
}