@media screen and (min-width: 640px) {
	
	nav ul {
			display: flex;
			flex-direction: row;
			list-style: none;
			margin:0;
			background-color: orange;
		}
		
	nav ul li {
		flex: 1;
	}

	main{
		display: grid;
		margin-left: 25px;
		margin-right: 25px;
        column-gap: 15px;
		grid-template-columns: 2fr 1fr;
	}

	.hero, iframe{
		grid-column: span 2;
	}
	

	.card {
		margin: 0;
		margin-bottom: 25px;
		box-shadow: 0 0 10px 1px #777;
		
	}

	.card2 {
		margin: 0;
		margin-bottom: 25px;
		box-shadow: 0 0 10px 1px #777;
		
	}


	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	


	a.active{
    	background-color:rgba(255,255,255, 0.5) ;
	} 

}